<p class="text-center" *ngIf="loading">Comprobantes...</p>
<div class="container" *ngIf="!loading">

  <div class="row">
    <div class="col-lg-8">
        <div class="table-responsive text-nowrap">
      <table class="table table-striped table-sm apple" *ngIf="totales_tipos_comp.length">
        <thead>
          <tr>
            <th>Tipo</th>
            <th class="th-right">Total</th>
            <th class="th-right">Rendido</th>
            <th class="th-right">Dif</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let c of totales_tipos_comp">
            <td>{{ c.tipo }} ({{c.cantidad}})</td>
            <td class="text-right">{{ c.total | number:'.2-2' }}</td>

            <ng-container *ngIf="c.tipo == 'Contado'">
            <td class="text-right">{{ (rendido.total - rendido.tarjetas) | number:'.2-2' }}</td>
            <td class="text-right">{{ (rendido.total - rendido.tarjetas - c.total) | number:'.2-2' }}</td>
            </ng-container>

            <ng-container *ngIf="c.tipo == 'Tarjetas'">
                <td class="text-right">{{ rendido.tarjetas | number:'.2-2' }}</td>
                <td class="text-right">{{ (rendido.tarjetas - c.total) | number:'.2-2' }}</td>
            </ng-container>

            <ng-container *ngIf="c.tipo != 'Tarjetas' && c.tipo != 'Contado'">
                <td class="text-right"></td>
                <td class="text-right"></td>
            </ng-container>

          </tr>
          <tr class="table-danger">
            <td colspan="3">TOTAL CIERRE CAJA</td>
            <td class="text-right">{{ + rendido.total - total('Contado') - total('Tarjetas') | number:'.2-2'  }}</td>
          </tr>
        </tbody>
      </table>
        </div>
      <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive text-nowrap">
            <div class="alert alert-light" role="alert" *ngIf="totales_tarjetas.length == 0">
              No se realizaron tarjetas en esta caja.
            </div>
            <table class="table table-striped table-sm apple" *ngIf="totales_tarjetas.length">
                <thead>
                    <tr>
                        <th colspan="2">Tarjetas Facturadas</th>
                      </tr>
                  <tr>
                    <th>Tarjeta</th>
                    <th class="th-right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of totales_tarjetas">
                    <td>{{ t.tarjnombre }} ({{t.cantidad}})</td>
                    <td class="text-right">{{ t.total | number:'.2-2' }}</td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr>
                      <th colspan="2">$ {{ total('Tarjetas') | number:'.2-2'}}</th>
                    </tr>
                  </tfoot>
              </table>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="table-responsive text-nowrap">
            <table class="table table-striped table-sm apple" *ngIf="totales_tarjetas.length">
                <thead>
                  <tr>
                    <th colspan="2">Rendido</th>
                  </tr>
                  <tr>
                    <th>Tipo</th>
                    <th class="th-right">Monto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of aValoresRendido; let i = index">
                    <td>{{ aKeysRendido[i] | capitalize }}</td>
                    <td class="text-right">{{r | number:'.2-2'}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="2">$ {{rendido.total | number:'.2-2'}}</th>
                  </tr>
                </tfoot>
              </table>
              </div>
        </div>
      </div>


    </div>

    <div class="col-lg-4">
      <table class="table table-striped table-sm apple">
        <thead>
          <tr>
            <th class="th-right">NroCaja</th>
            <th >Tipo</th>
            <th class="text-right">Importe</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let c of contadosPorCajas">
            <td class="text-right">{{ c.nrocaja }}</td>
            <td >Contado</td>
            <td class="text-right">{{ c.importe }}</td>
          </tr>
          <tr *ngFor="let c of tarjetasPorCajas">
            <td class="text-right">{{ c.nrocaja }}</td>
            <td >Tarjetas</td>
            <td class="text-right">{{ c.importe }}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-sm apple" *ngIf="totales_tipos_comp.length">
        <thead>
          <tr>
            <th>Fecha</th>
            <th class="th-right">NroCaja</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cajasPorFecha">
            <td>{{ c.fechaorigen | showFechaBit }}</td>
            <td class="text-right">{{ c.nrocaja }}</td>
            <td>{{ c.usuario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row cont_obs">
      <div class="col-lg-4">
          <table class="table table-sm table-dark apple" *ngIf="totales_tipos_comp.length">
              <thead>
                <tr>
                  <th>Playeros en turno</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ showNamePlayero(cierre.playero1) }}</td>
                </tr>
                <tr>
                  <td>{{ showNamePlayero(cierre.playero2) }}</td>
                </tr>
                <tr>
                  <td>{{ showNamePlayero(cierre.playero3) }}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="col-lg-8">
          <div class="form-group">
              <label for="textarea-obs">Observaciones:</label>
              <textarea class="form-control" id="textarea-obs" rows="3" [(ngModel)]="observaciones"></textarea>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-success btn-sm" (click)="saveObs()"> <i class="fa fa-save"></i> Guardar Observaciones</button>
            </div>
      </div>
    </div>


  <div class="row" *ngIf="comprobantes.length">
    <div class="col">
      <div class="form-group">
        <label for="filtro">Filtro:</label>
        <select class="form-control form-control-sm" [(ngModel)]="filtro" name="filtro">
          <option value="" selected="selected">Todos</option>
          <option value="contado">Contado</option>
          <option value="ctacte">Cta. Cte.</option>
          <option value="tarjetas">Tarjetas</option>
          <option value="remitos">Remitos</option>
          <option value="internos">D.Internos</option>
          <option value="creditos">Creditos</option>
        </select>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped table-sm table-comprobantes">
          <thead>

            <tr>
              <th>Caja</th>
              <th>Tarjeta</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Tipo</th>
              <th>Nro</th>
              <th>Nombre</th>
              <th>CUIT</th>
              <th>TP</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody #tbody>
            <tr *ngFor="let c of comprobantes | filterBy: filtro" (click)="getCuerpo(c)">
              <td>{{ c.nrocaja }}</td>
              <td>{{ c.tarjnombre }}</td>
              <td>{{ c.fechaorigen | showFechaBit }}</td>
              <td>{{ c.hora }}</td>
              <td>{{ c.tipocomp }}</td>
              <td>{{ c.nrocomprobante }}</td>
              <td>{{ c.nombre }}</td>
              <td>{{ c.cuit }}</td>
              <td [ngClass]="{'text-success': c.contadocc==1, 'text-warning': c.contadocc==2}">{{ c.contadocc==1?'CO':'CC'}}</td>
              <td *ngIf="!filtro || filtro == 'creditos'" class="text-right">{{ (c.totalcom * (c.debcre==2?-1:1)) | number:'.2-2' }}</td>
              <td *ngIf="filtro && filtro != 'tarjetas' && filtro != 'creditos'" class="text-right">{{ (c.restotarj * (c.debcre==2?-1:1)) | number:'.2-2' }}</td>
              <td *ngIf="filtro == 'tarjetas'" class="text-right">{{ (c.imptarj * (c.debcre==2?-1:1)) | number:'.2-2' }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="9">Total: </th>
              <th class="text-right">{{ _comp.totalComp(comprobantes | filterBy: filtro, filtro) | number:'.2-2' }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalCuerpoFactura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Factura Nro: {{ detalle.comprobante.nrocomprobante }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ detalle.comprobante.nombre }} - Fac.Nro: {{ detalle.comprobante.nrocomprobante }}</p>
        <table class="table table-striped table-sm table-comprobantes">
          <thead>
            <tr>
              <th>Art&iacute;culo</th>
              <th>Comprobante</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of detalle.articulos">
              <td>{{ c.articulo }}</td>
              <td>{{ c.denominacion }}</td>
              <td style="text-align: end; padding-right: 20px;">{{ c.cantidad }}</td>
            </tr>
          </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
