.cont_obs {
    margin: 10px 0px;
    color: white;
    padding: 20px;
    background-color: #3f5cb1;
    box-shadow: 6px 6px 6px 0px black;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 1px black;
}